<main role="main">

      <div class="jumbotron">
        <img src="assets/pics/crayfishnme.jpg" id="profile" class="col-md-3 img-rounded" alt="Cinque Terre">
        <div class="container">
          <h1 class="display-3">Hello, you!</h1>
          <p>I am a full-stack web developer, and this is my personal website. <br> I took up a 3 month web development course in September 2017, and you can find my projects below. </p>
          <a href="https://www.linkedin.com/in/gabrielu/" target="_blank" role="button"><img class='linkicon' src="/assets/logos/linkedinblack.png" title="My linkedIn" alt="My linkedin"></a>
          <a href="https://github.com/imjustlooking" target="_blank" role="button"><img class='linkicon' src="/assets/logos/media.ico" title="My github" alt="My github"></a>
          <a href="/assets/gabrieluresume.pdf" target="_blank" role="button"><img class='linkicon' src="/assets/logos/cv.png" title="My resume" alt="My resume"></a>
          <a href="mailto:gabrielulu@gmail.com?Subject=Hello%20there" target="_blank" id='email' role="button"><img class='linkicon' src="/assets/logos/email-open-512.png" title="My resume" alt="My resume"> gabrielulu@gmail.com</a>
        </div>
      </div>

      <div class="container">
        <h1 id="myProjects"> My projects </h2>
        <div class="row">
          <div class="info-card col-md-3">
            <div class="front">
              <img class="card-img-top" src="assets/pics/rsz_otos.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">On The Other Side</h4>
                <p class="card-text">First project! A browser-based puzzle game to guide two balls.</p>
              </div>
            </div>
            <div class="back">
              <h4>On The Other Side</h4>
              <p>
                <strong> Built with: </strong> <br> Javascript, jQuery, HTML, CSS <br><br>

                <a href="https://imjustlooking.github.io/project-1/" target="_blank" class="btn btn-secondary">Check it out »</a>

              </p>
            </div>
        </div>
          <div class="info-card col-md-3">
            <div class="front">
              <img class="card-img-top" src="assets/pics/rsz_buzzmap.png" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Buzz</h4>
                <p class="card-text">A demand-driven private bus marketplace where one can check and register for routes between two addresses.</p>
                <a href="#" class="btn btn-secondary">Go somewhere »</a>
              </div>
            </div>
            <div class="back">
              <h2>Buzz</h2>
              <p>
                <strong> Built with: </strong> <br> Node.js, MongoDB/mLab, Express, Bootstrap, Passport, Bcrypt, Google Maps API <br><br>

                <a href="https://buzznearyou.herokuapp.com/" target="_blank" class="btn btn-secondary">Check it out »</a>

              </p>
            </div>
        </div>
          <div class="info-card col-md-3">
            <div class="front">
            <img class="card-img-top" src="assets/pics/rsz_smartmart.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Smart Mart</h4>
              <p class="card-text">Online supermarket with barcode search.</p>
              <a href="#" class="btn btn-secondary">Go somewhere »</a>
            </div>
          </div>
          <div class="back">
            <h2>SmartMart</h2>
            <p>
              <strong> Built with: </strong> <br> Ruby on Rails, Devise, Javascript, jQuery, Bootstrap, Stripe API, QuaggaJS API  <br><br>

              <a href="https://smartestmart.herokuapp.com/" target="_blank" class="btn btn-secondary">Check it out »</a>

            </p>
          </div>
        </div>
          <div class="info-card col-md-3">
            <div class="front">
            <img class="card-img-top" src="assets/pics/rsz_hawkerpaypad.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">HawkerPay</h4>
              <p class="card-text">A 2-part queue and food order collection app for users and hawkers.</p>
              <a href="#" class="btn btn-secondary">Go somewhere »</a>
            </div>
          </div>
          <div class="back">
            <h2>HawkerPay</h2>
            <p>
              <strong> Built with: </strong> <br> Javascript, React, Firebase  <br><br>

              <a href="https://hawkersidepay.herokuapp.com/" target="_blank" class="btn btn-secondary">Check it out »</a>

            </p>
          </div>
        </div>
      </div>
    </div>

<br>
        <div class='jumbotron'>
          <div class="container">

          <h1 id="aboutMe"> About me </h1>
          <p>
              <b> Coding and I </b> <br>
              I took coding up because it allows me, in some sense, to create. <br>
              YOLO has a reckless connotation, but YOLO to me screams that our time is short. <br>
              I wish to build value and it gives me sweet satisfaction to see others use my app, be it a 5 minute game or a full-fledged service. <br>
              It is also highly motivating to work alongside people passionate about a common goal/ curiosity.<br>
              <br>
              I enjoy grooving to most kinds of music, and being goofy sometimes.<br>
              Backpacking and watching <i>interesting</i> Youtube videos lets the curious child inside me feel alive. <br>
              Thank you for visiting my page and I hope <b>you</b> have a good day :) <br><br>

              Yours, Gabriel
          </p>
        </div>
        </div>

    </main>
